torch>=2.0.0
torchvision
numpy>=1.24.0
pysc2>=4.0.0
scikit-learn>=1.2.0
matplotlib>=3.7.0
tensorboard>=2.13.0

# SMAC (install from GitHub, not PyPI):
#   pip install git+https://github.com/oxwhirl/smac.git
# StarCraft II + maps:
#   https://github.com/Blizzard/s2client-proto#downloads
#   https://github.com/oxwhirl/smac/releases/download/v0.1-beta1/SMAC_Maps.zip